
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout_Sanpham.cshtml";
}

<h2>Index</h2>

@foreach (var item in ViewBag.cart)
{
    <tr>
        <td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.MaHH">Remove</a></td>
        <td>@item.Product.MaHH</td>

        <td>@item.Quantity</td>
        <td>@(item.Product.DonGia * item.Quantity)</td>
        <td>@item.Product.TenHH</td>
        <td><img src="~/Hinh/@item.Product.Hinh" width="100" height="100" /></td>
    <tr>
        <td align="right" colspan="6">Sum</td>
        <td>
            @ViewBag.total
        </td>
    </tr>
    </tr>
}